version: '3.8'

services:
  postgres:
    image: postgres
    container_name: berryelle001db
    environment:
      POSTGRES_PASSWORD: "postgres"
      POSTGRES_USER: "postgres"
      POSTGRES_DB: "berryelle001db"
    ports:
      - "6432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres_data:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ./data/postgres